.center{
    margin-left: auto;
    margin-right: auto;
}

.mid{
    justify-content: center;
    float: none;
    display: flex;
    padding-left: 10px;
}

@media (max-width: 576px){
.row-auto > *{
    flex: 0 0 auto;
    width: auto;
}
}

.footer{
    height: 200px;
   
}